.content {
    min-height: calc(100vh - 192px);
}

.action-bar > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event {
    display: flex;
    margin: 20px;
    border-radius: 6px;
    background: linear-gradient(to right, #648cd7, #4e63b7);
}

.event-text {
    color: white;
}

.event-logo {
    width: 64px;
    margin-right: 32px;
}
